* {
    font-family:'Times New Roman', Times, serif;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    background-color:blanchedalmond;
}

.headingtxt {
    text-decoration: none;
    text-align: center;
}

h1 {
    font-size: 48px;
    height: auto;
    width: auto;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.autumn {
    background-color: rgb(183, 0, 61);
    color: rgb(255, 194, 187);
}

.autumn h1 {
    font-size: 48px;
    height: auto;
    width: auto;
    text-align: center;
    color: rgb(255, 194, 187);
    margin-bottom: 20px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:rgb(255, 194, 187);
}

.links {
    font-size: 36px;
    padding: 10px;
}

.button:hover{
    background-color: rgba(195, 253, 255, 0.238);
}

img.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    height: auto;
}

img.smaller {
    display: block;
    width: 500px;
    height: auto;
}

ul.inside{
    list-style-type:circle;
}